<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Scheduled Appointments: </h1>
    <hr>
    <br>
    <%= calendar number_of_days: 1, events: @appointments do |date| %>
      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Problem</th>
          </tr>
        </thead>
          <% @appointments.each do |appt| %>
          <% if date.day == appt.date.day %>
            <tbody>
            <tr>
              <td><%=appt.time.strftime("%I:%M %p")%></td>
              <td><%=appt.name%></td>
              <td><%=appt.email%></td>
              <td><%=appt.phone_number%></td>
              <td><%=appt.problem%></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </body>
</html>
