<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @appointment.name %>!</h3>
    <p>
      Your appointment at HashTagPhoneRepair has been confirmed:<br>
      <br>Phone number: <%= @appointment.phone_number%><br>
      Problem: <%= @appointment.problem %><br>
      Date: <%= @appointment.date.strftime("%m/%d/%Y") %><br>
      Time: <%= @appointment.time.strftime("%I:%M %p") %><br>
      <br>
      To cancel/reschedule appointment please call the store.
    </p>
  </body>
</html>
